body{
    background:linear-gradient(to left,#43cea2,#185a9d);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.flexbox-container{
    margin: 5%;
    display: grid;
    grid-template-columns: 2fr 5fr;
    background: white;
    background: linear-gradient(to left top, rgba(255,255,255,0.85), rgba(255,255,255,0.1));
    border-radius: 2rem;
}


