.profileContainer{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

}
.profileImage{
    border-radius: 2rem;
    text-align: center;

}

.profileName{
    font-weight: 1000;
    font-size: x-large;
    color: #1b4670;
}