.SearchResult-Container{
    display: grid;
    grid-template-columns: 3fr 10fr;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.5));
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem 0;
}

.Title{
    font-size: 1rem;
    vertical-align: top;
    padding: 0 1rem;
}

.SearchImage{
    border-radius: 0.5vw;
    max-width:100%;
}

@media only screen and (max-width:550px){
    .SearchImage{
        border-radius: 0.5vw;
        max-width:100%;
    }
    .SearchResult-Container{
        margin: 0.5rem 0.5rem;
        grid-template-columns: 1fr ;

    }

}